html, body{
	height: 100%;
	width: 100%;
	margin:0;
	overflow: hidden;
}

.header{
	border: solid 1px;
	height: 5em;
}

.header button{
	display: inline-block;
	margin: 2% 5%;
	float: right;
}

button{
	font-size: 1.3em;
	border-radius: 10px;
	outline: none;
	background-color: white;
	width: 15%;
}

button:hover{
	cursor: pointer;

}

button.active{
	background-color:  #ff9980;
	border-style:inset;

}

button.active:before{
	content: url('../img/check.png');
}

.menu_trigger{
	position:absolute;
	top:0;
	left:0;
	width:20%;
	border-right: solid 1px;
	height: 5em;
}

.side_menu{
	position: absolute;
	float:left;
	width: 20%;
	height: 100%;
	border-right: dashed 1px;

}

.side_menu button{
	display: block;
	width: 70%;
	margin: 5%;
}