html, body{
	height: 100%;
	width: 100%;
	margin:0;
	overflow: hidden;
}

.header{
	border: solid 1px;
	height: 5em;
}

.header button{
	display: inline-block;
	margin: 2% 5%;
	float: right;
}

button{
	font-size: 1.3em;
	border-radius: 10px;
	outline: none;
	background-color: white;
	width: 15%;
}

button:hover{
	cursor: pointer;

}

button.active{
	background-color:  #ff9980;
	border-style:inset;

}

button.active:before{
	content: url('../img/check.png');
}

.menu_trigger{
	position:absolute;
	top:0;
	left:0;
	width:20%;
	border-right: solid 1px;
	height: 5em;
	text-align: center;
}

.menu_trigger span{
 	font-size: 4em;
}
.menu_trigger:hover{
	cursor: pointer;
	background-color: #ff9980; 
}
.side_menu{
	position: absolute;
	float:left;
	width: 20%;
	height: 100%;
	overflow: scroll;
}

.side_menu button{
	display: block;
	width: 70%;
	margin: 5%;
}

.container{
	position: absolute;
	float:right;
	top: 5.1em;
	left: 20%;
	height: 100%;
	width: 80%;
	padding: 7%;
	overflow: scroll;
	border-left: dashed 1px;
}

.map_elem{
	display: inline-block;
	width: 190px;
	height: 230px;
	border:solid 1px;
	border-radius: 5px;
	margin: 5% 5%;
	padding: 5px;
	font-weight: bolder;

}
.map_elem label{
	display: block;
}

.map_elem img{
	width: 140px;
	height: 160px;
	display:block;
	margin:0 auto;
}